@import '../../../App'

.profile-container
    padding: 70px 16px 100px 16px
    background-color: $background-grey

    .profile-back-link
        text-decoration: none
        font-weight: bold
        color: black
